/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 16 feb 2025, 16:07:45
    Author     : Usuario
*/

.formulario-contenedor {
            width: 80%;
            margin: 20px auto;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: left;
        }

        h2 {
            color: rgb(138, 18, 138);
            text-align: center;
            margin-bottom: 15px;
        }

        .formulario {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        label {
            font-weight: bold;
            color: rgb(80, 18, 138);
        }

        input[type="text"],
        input[type="email"],
        input[type="password"],
        input[type="number"],
        select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        input[type="submit"] {
            background-color: rgb(138, 18, 138);
            color: white;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            transition: 0.3s;
        }

        input[type="submit"]:hover {
            background-color: rgb(100, 12, 100);
        }

        /* Separador entre formularios */
        hr {
            border: none;
            height: 2px;
            background-color: #ccc;
            margin: 20px 0;
        }

        table {
            width: 100%; /* Ajusta al ancho que necesites */
            border-collapse: collapse; /* Para que los bordes de la tabla se junten */
            margin-bottom: 10px;
        }

        th, td {
            border: 1px solid #ddd; /* Bordes para las celdas */
            padding: 8px;
            text-align: left; /* Alineación del texto en las celdas */
        }

        th {
            background-color: #f2f2f2; /* Color de fondo para las celdas de encabezado */
            font-weight: bold;
        }